-##### Set page title #####
- content_for :page_title, "#{Rails.configuration.app_title}"

-##### Extra elements for <head> #####
- content_for :head do
  - unless defined?(noapp) && noapp
    = stylesheet_link_tag "application", media: "all"
  -# Google Analytics tracking
  - if ENV['APP_PLATFORM'] == 'production'
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '#{Rails.configuration.ga_id}', 'service.gov.uk');
      ga('send', 'pageview');

-##### Body class #####
- content_for :body_classes, "#{Rails.configuration.phase} #{Rails.configuration.product_type}"

-##### Header app name #####
- content_for :inside_header do
  .service-header
    %a.service-name{:href => "/"}#{Rails.configuration.app_title}
    - if Rails.configuration.phase != 'live'
      %a{:href => "https://www.gov.uk/service-manual/phases/#{Rails.configuration.phase.downcase}.html", :class => "service-phase " + Rails.configuration.phase}#{Rails.configuration.phase.upcase}

-##### Phase indicator bar #####
- content_for :after_header do
  .indicator.cf
    %p
      %strong #{Rails.configuration.phase.capitalize}:
      This is a new service -
      - if Rails.configuration.feedback_url == 'auto_add_path'
        %a{:href => new_feedback_path(referrer: request.original_url)}your feedback
      - else
        %a{:href => Rails.configuration.feedback_url}your feedback
      will help us to improve it

-##### Main content #####
- content_for :content do
  = yield :breadcrumb
  #wrapper.group
    %section#content.group{:role => "main"}
      = yield :inside_content
      = yield

-##### Footer top #####
- content_for :footer_top do
  .footer-categories
    .footer-explore
      %h2 Services and information
      %ul
        %li
          %a{:href => "https://www.gov.uk/browse/driving"} Driving and transport
        %li
          %a{:href => "https://www.gov.uk/browse/benefits"} Benefits
        %li
          %a{:href => "https://www.gov.uk/browse/business"} Businesses and self-employed
        %li
          %a{:href => "https://www.gov.uk/browse/employing-people"} Employing people
        %li
          %a{:href => "https://www.gov.uk/browse/abroad"} Passports, travel and living abroad
        %li
          %a{:href => "https://www.gov.uk/browse/education"} Education and learning
        %li
          %a{:href => "https://www.gov.uk/browse/working"} Working, jobs and pensions
        %li
          %a{:href => "https://www.gov.uk/browse/housing"} Housing and local services
        %li
          %a{:href => "https://www.gov.uk/browse/justice"} Crime, justice and the law
        %li
          %a{:href => "https://www.gov.uk/browse/tax"} Money and tax
        %li
          %a{:href => "https://www.gov.uk/browse/births-deaths-marriages"} Births, deaths, marriages and care
        %li
          %a{:href => "https://www.gov.uk/browse/disabilities"} Disabled people
        %li
          %a{:href => "https://www.gov.uk/browse/citizenship"} Citizenship and life in the UK
    .footer-inside-government
      %h2 Departments and policy
      %ul
        %li
          %a{:href => "https://www.gov.uk/government/how-government-works"} How government works
        %li
          %a{:href => "https://www.gov.uk/government/organisations"} Departments
        %li
          %a{:href => "https://www.gov.uk/government/world"} Worldwide
        %li
          %a{:href => "https://www.gov.uk/government/topics"} Topics
        %li
          %a{:href => "https://www.gov.uk/government/policies"} Policies
        %li
          %a{:href => "https://www.gov.uk/government/publications"} Publications
        %li
          %a{:href => "https://www.gov.uk/government/announcements"} Announcements

-##### Footer support links #####
- content_for :footer_support_links do
  %h2.visuallyhidden Support links
  %ul
    %li
      %a{:href => "https://www.gov.uk/support"} Support
    %li
      %a{:href => "https://www.gov.uk/support/cookies"} Cookies
    %li
      %a{:href => "https://www.gov.uk/feedback"} Feedback
    %li
      %a{:href => "https://www.gov.uk/cymraeg"} Cymraeg
    %li
      Built by the
      %a{:href => "http://digital.cabinetoffice.gov.uk/"} Government Digital Service

-##### Body end #####
- content_for :body_end do
  <!--[if gt IE 6]><!-->
  - unless defined?(noapp) && noapp
    = javascript_include_tag "application"
  = yield :javascript
  <!--<![endif]-->

-##### Render main GOVUK template #####
= render template: "layouts/govuk_template"
